files:
  "/opt/contrast/contrast.jar" :
    mode: "000755"
    owner: root
    group: root
    source: "https://repo1.maven.org/maven2/com/contrastsecurity/contrast-agent/3.7.7.16256/contrast-agent-3.7.7.16256.jar"
  "/opt/contrast/contrast_security.yaml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      agent:
        java:
          scan_all_classes: false
          scan_all_code_sources: false
          standalone_app_name: WebGoat-BeanStalk
       logger:
         stdout: true
      application:
        group: B2B_Dev
