files:
  "/opt/contrast/contrast.jar" :
    mode: "000755"
    owner: root
    group: root
    source: "https://repository.sonatype.org/service/local/artifact/maven/redirect?r=central-proxy&g=com.contrastsecurity&a=contrast-agent&v=LATEST"
  "/opt/contrast/contrast_security.yaml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      agent:
        java:
          scan_all_classes: false
          scan_all_code_sources: false
          standalone_app_name: BeanStalk
        logger:
          stdout: true
          level: TRACE
      application:
        group: B2B_Dev
